body {
 background-color: lightblue;
 font-family: 'Times New Roman', serif;
 font-size: 6vw;
 border: 20px solid powderblue;
 border-radius: 5px;
}

p {
 background-color: palegreen;
 border: 5px solid palegreen;
 border-radius: 5px;
}

img {
    max-width: 100%;
    min-width: 300px;
    height: auto;
}