body {
 background-color: lightsalmon;
 font-family: verdana, arial, tahoma;
}
/* Phone UI*/
@media screen and (max-width: 700px) {
  body {
    font-size: 25px;
  }
}

@media screen and (max-width: 700px) {
  #PSAtext {
    font-size: 15px;
  }
}

/* Desktop UI*/
@media screen and (min-width: 700px) {
  body {
    font-size: 25px;
  }
}

@media screen and (min-width: 700px) {
  #PSAtext {
    font-size: 15px;
  }
}

.greeting {
 color: saddlebrown;
 background-color: bisque;
 border: 4px solid wheat;
 border-radius: 5px;
 width: 300px;
}

#PSAtext {
  color: saddlebrown;
 background-color: bisque;
 border: 4px solid wheat;
 border-radius: 2.5vw;

}
img {
 
}