body {
 background-color: lightsalmon;
 font-family: verdana, arial, tahoma;
 font-size: 25px;
}

p {
 color: saddlebrown;
 background-color: bisque;
 border: 4px solid wheat;
 border-radius: 5px;
}
#PSAtext {
  color: saddlebrown;
 background-color: bisque;
 border: 4px solid wheat;
 border-radius: 5px;
}
img {
 
}